.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  z-index: 1000; /* Ensures the modal appears above everything */
  display: flex;
  justify-content: center; /* Horizontally center the modal */
  align-items: center; /* Vertically center the modal */
  padding: 20px;
}

.modal {
  background: white;
  border-radius: 8px;
  padding: 30px;
  width: 100%;
  max-width: 500px; /* Set a maximum width for the modal */
  box-sizing: border-box;
  text-align: center;
  position: relative;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  button.close {
    background: none;
    border: none;
    font-size: 24px;
    color: #000;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    gap: 15px;

    input {
      width: 80%;
      padding: 10px;
      font-size: 1rem;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    button.search {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      font-size: 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
