* {
    box-sizing: border-box;
  }
  
  .navbar {
    // position: fixed;
    width: 100%;
    display: flex;
    margin: 0;
    height: 90px;
    justify-content: space-evenly;
    padding: 16px;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 3px -2px black;
    background-color: white;
    z-index: 222;
  
   

    .outline-menu{
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      max-width: 1377px;
      

      svg {
        font-size: 1.8rem;
        color: #0a0202;
      }
    }
  
    .nav-logo{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .nav-logo p{
      color: #171717;
      font-size: 38px;
      font-weight: 500;
    }
  
    .nav-menu{
      display: flex;
      gap: 50px;
      align-items: center;
      list-style: none;
      font-weight:400;
      font-size: 20px;
      color: grey;
    }
    .nav-menu li{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3px;
      cursor: pointer;
     
    }
    .nav-menu hr{
      border: none;
      width: 80%;
      height: 3px;
      border-radius: 10px;
      background: red;
    }
    .nav-login-cart{
      display: flex;
      align-items: center;
      gap: 45px;
    }
    .nav-login-cart button{
      height: 58px;
      width: 157px;
      outline: none;
      border: 1px solid grey;
      border-radius: 75px;
      font-size: 20px;
      font-weight: 500;
      background: white;
      color: black;
      cursor: pointer;
    }
   .nav-login-cart button:active{
    background: grey;
   }
   .nav-cart-count{
    display: flex;
      width: 22px;
      height: 22px;
      background-color: red;
      color: white;
      align-items: center;
      justify-content: center;
      border-radius: 11px;
      font-size: 14px;
      margin-top:-35px;
      margin-left:-55px ;
       }

  .userprofile{
    font-size: 25px;
    color: black;
    margin-top: 15px;
    margin-right: 30px;   
    transition: font-size 0.3s ease;
    
    &:hover {
      scale: 1.1;
      cursor: pointer;
    }
  }
  }
  